<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		{% include foundation_html_header.html %}
		<link rel="stylesheet" href="/assets/css/styles.css" />
		<title>{{ page.title }}</title>
	</head>
	<body>
		{% include header_general.html %}

		{% include image_banner.html image=page.banner_image title=page.banner_title %}

		<div class="grid-x small-12 medium-12 large-12">

			<!-- Content -->
			<div class="cell">
				{{ content }}
			</div>

		</div>

		{% include foundation_script_loading.html %}	
	</body>
</html>
