<ul class="dropdown menu" data-dropdown-menu>
	<li>
		<a href="">Warhammer</a>
		<ul class="menu">
			<li>
				<a href="#">Age of Sigmar</a>
				<ul class="menu">
					<li>
						<a href="#">Setting</a>
						<ul class="menu">
							<li>
								<a href="warhammers/aos/setting/calyster/index.html">Calyster</a>
								<ul class="menu">
									<li>
										<a href="/warhammers/aos/setting/calyster/nations/index.html">Nations of Calyster</a>
										<ul class="menu">
											<li><a href="/warhammers/aos/setting/calyster/nations/meredia.html">Wastes of Meredia</a></li>
											<li><a href="#">Kingdom of Aras</a></li>
											<li><a href="#">The Silver covenant</a></li>
											<li><a href="#">The Republic of Varna</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
					<li>
						<a href="">Armies</a>
						<ul class="menu">
							<li>
								<a href="#">Chaos</a>
								<ul class="menu">
									<li>
										<a href="#">Blades of Khorne</a>
										<ul class="menu">
											<li><a href="#">Waste Walkers of Meredia</a></li>
										</ul>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">Death</a>
								<ul class="menu">
									<li>
										<a href="#">Ossiarch Bonereapers</a>
										<ul class="menu">
											<li><a href="#">Calyster Cohorts</a></li>
										</ul>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</li>		
			<li><a href="#">Warhammer 40k</a></li>		
		</ul>
	</li>
	<li><a href="#">4X Framework</a></li>
	<li><a href="#">About me</a></li>
</ul>
