<!doctype html>
<html>
  <head>
    <meta charset="utf-8" />
	{% include foundation_html_header.html %}
    <link rel="stylesheet" href="/assets/css/styles.css" />
    <title>Age of Sigmar - Settings - Calyster</title>
  </head>
  <body>
	  <div class="grid-x small-12 medium-12 large-12">

		<!-- General website header -->
		<div class="cell">
			<div class="grid-x">
				<div class="cell small-12 medium-4 large-4">
					The fire Archmage Website
				</div>
				<div class="cell small-12 medium-8 large-8">
					{% include navigation_general.html %}
				</div>
			</div>
		</div>

		<!-- Section header -->
		<div class="cell">
			<h1>Age of Sigmar - Settings - Calyster</h1>
		</div>

		<!-- Introduction -->
		<div class="cell">
			<h2>The continent of Calyster</h2>
			<p>Colonized during the Age of Myth, out of the embers of the World that was, the southern isle-continent of Calyster was for a time one of the jewels of Aqshy, a varied collection of kingdoms and nations with many cultures and religions, sharing the continent in relative peace, some times broken by skirmishes or even wars that would be quickly settled under the guidance of the God King. For centuries, the nations of Calyster knew growth, progress and peace, trading amongst themselves and with the remote lands of the Great Parch, to the north, among many other landmasses or even worlds.</p>
			<p>The end of this golden age came not too long after the rise of Khorgos Khul, in the North. This time, the Blood God was not the architect of the Shattering, but rather the hand of the full chaos pantheon making the southern continent their playground, using its nations as unwitting pawns of the Great Game, as Civilization dwindled in Aqshy during the Red Century and the long time after that.</p>
			<p>Many are the wonders of the Age of Myth lost to the ravages of the chaos gods, untold the number of libraries and recipients of knowledge forever lost to barbarism, sabotage and descendants of the great nations unable to understand any longer the treasures of their forebears.</p> 
			<p>Now the kingdoms and proud republics of Calyster are just a remnant of the past glory, involved in perpetual wars that engulfs the whole continent. Little by little, the continent is absorbed by the chaos realms, for no army of the Grand Alliance has yet reclaimed these territories.</p> 
			<p>There is no peace among the kingdoms, only an eternity of carnage and slaughter, and the laughter of thirsting gods.</p>

			<h2>Introduction to the setting</h2>
			<p>The Calyster continent will be the canvas upon which I will build the lore for most of my chaos armies in Age of Sigmar, as it is described as being either completely overrun by chaos forces, or influenced by it. The different nations allow to weave interesting and varied stories.<br/>The setting also allows to represent small invading forces from other alliances.</p>
		</div>

		<!-- Nations of calister -->
		<div class="cell">
			<h2>Nations of Calyster</h2>
			<p>The following nations exist within the Continent</p>
			<div class="grid-x small-12 medium-4 large-3 nations-grid">
				<div class="cell">
					<img src="assets/img/slaneesh_banner_1.jpg" class="banner" />
					<span>Kingdom of Aras</span>
				</div>
				<div class="cell">
					<img src="assets/img/meredia_banner_1.jpg" class="banner" />
					<span>Waste Walkers of Meredia</span>
				</div>
			</div>	
		</div>

		<!-- Footer -->
		<div class="cell">
			<h1>Footer</h1>
		</div>

	</div>

	{% include foundation_script_loading.html %}	
  </body>
</html>
